<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Killer Instinct</title>
    <link rel="shortcut icon" href="../../../static/sources/images/global/g-place.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../static/styles/global.css">
    <link rel="stylesheet" href="../../../static/styles/produtos.css">
</head>
<body>
    <header>
        <nav id="menu_g-place">
            <ul>
                <li><a href="/"><img src="../../../static/sources/images/global/g_place-logo.png" alt="Gamers_Place-logo" draggable="false" id="logo"></a></li>
                <li class="container-input"><input type="text" id="barra_pesquisa"><button id="barra_pesquisa_confirm"><img src="../../../static/sources/images/global/searchmagnifierinterfacesymbol1_79893.svg" alt=""></button></li>

                <div class="search-login-cart">
                    <div class="menu-icon">
                        <img src="../../../static/sources/images/global/menu-icon.svg" alt="icon-menu" id="menu-icon-svg">
                    </div>
                    <div class="btns">
                        <div class="container-icon-barra-pesquisa">
                            <img src="../../../static/sources/images/global/searchmagnifierinterfacesymbol1_79893.svg" alt="" width="25px" id="btn-barra-pesquisa">
                        </div>
                        <li>
                            <a href="/carrinho.html" id="car-btn">
                                 <img src="../../../static/sources/images/global/cart-icon.svg" alt="" id="cart-icon">
                                <p>Carrinho</p>
                            </a>
                        </li>

                        <li>
                          <a href="
                            {% if (current_user.id != None and current_user.is_authenticated) %}
                            logout
                            {% else %}
                            login
                            {% endif %}" id="login-btn" target="_blank">
                              <p>{% if (current_user.id != None and current_user.is_authenticated) %}
                              Olá, {{ current_user.id }}!
                              {% else %}
                              Login
                              {% endif %}</p>
                            </a>
                        </li>
                    </div>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <section id="produto-info">
            <div class="container-info">
                <p id="nome_produto" class="titulo">Killer Instinct</p>
                <div class="preco-img">
                    <div class="img-container"><img src="../../../static/sources/images/products/killer-instinct.jpg" alt="" id="img_produto"></div>
                    <div class="pagamento">
                        <div class="img-container"><img src="../../../static/sources/images/products/killer-instinct-logo.png" class="img--container--pag" alt="">
                        </div>

                        <div class="container-price-btns">
                            <p class="titulo">R$150,90</p>
                            <div class="btn-container">
                              <button id="btn-compra-confirm" style="background-color: rgb(17, 131, 51);color: white;"><a href="/carrinho.html" style="color:white;">Comprar Agora</a></button>
                              <button id="btn-carrinho-redirect"><a href="/carrinho.html" style="color:white;">Adicionar ao Carrinho</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc-product">
                    <p class="titulo">Resumo</p>
                    <div class="text-desc">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi quas enim illum quidem totam dolorem quia veritatis voluptas voluptatibus.
                            <br>
                            <p>Placeat, odio. Odio sed, molestiae cupiditate incidunt distinctio accusamus quibusdam eos!</p>
                            <br>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit ut animi aliquid esse rem hic sequi veritatis ullam ipsa ea laboriosam amet sed explicabo, ducimus facere assumenda beatae unde mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            <br>
                            <p>Fugit facilis doloremque minima delectus ipsum libero veritatis quaerat blanditiis quis, dolore ullam labore qui quas debitis praesentium in. Sunt, obcaecati et!Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                            <br>
                            <p>Modi quas enim illum quidem totam dolorem quia veritatis voluptas voluptatibus. Placeat, odio. Odio sed, molestiae cupiditate incidunt distinctio accusamus quibusdam eos! Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                            <br>
                            <p>Odit ut animi aliquid esse rem hic sequi veritatis ullam ipsa ea laboriosam amet sed explicabo, ducimus facere assumenda beatae unde mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit facilis doloremque minima delectus ipsum libero veritatis quaerat blanditiis quis, dolore ullam labore qui quas debitis praesentium in. Sunt, obcaecati et!</p>
                        </p>
                    </div>
                </div>
            </div>

            <div>
            </div>

            <div>
            </div>

        </section>
    </main>
    <footer>
        <p>Site criado por :
            <br>
            Gabriel Vieira (Front-End)
            <br>
            Johann Herrero (Back-End)
        </p>
        <p>
            <br> Site criado para fins academicos. Toda e qualquer oferta disponivel aqui não passa de uma propaganda ficticia.</p>
    </footer>
    <script src="{{ url_for('static',filename='scripts/global.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/produtos.js') }}"></script>
</body>
</html>
