<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Home</title> -->
    <!-- <link rel="stylesheet" href="static/styles/home.css"> -->
    <link rel="stylesheet" href="static/styles/global.css">
    <link rel="shortcut icon" href="static/sources/images/global/g-place.ico" type="image/x-icon">
    {% endblock %}
</head>
<body>
<!-- Teste - Código Jinja para exibição de status do login -->
  <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <div colour="green" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %} -->

  {% block header %}
  <header>
      <nav id="menu_g-place">
          <ul>
              <li><a href="/"><img src="static/sources/images/global/g_place-logo.png" alt="Gamers_Place-logo" draggable="false" id="logo"></a></li>
              <li class="container-input"><input type="text" id="barra_pesquisa" oninput="autoComplete()"><button id="barra_pesquisa_confirm"><img src="static/sources/images/global/searchmagnifierinterfacesymbol1_79893.svg" alt=""></button></li>

              <div class="search-login-cart">
                  <div class="menu-icon">
                      <img src="static/sources/images/global/menu-icon.svg" alt="icon-menu" id="menu-icon-svg">
                  </div>
                  <div class="btns">
                      <div class="container-icon-barra-pesquisa">
                          <img src="static/sources/images/global/searchmagnifierinterfacesymbol1_79893.svg" alt="" width="25px" id="btn-barra-pesquisa">
                      </div>
                      <li>
                          <a href="carrinho.html" id="car-btn">
                               <img src="static/sources/images/global/cart-icon.svg" alt="" id="cart-icon">
                              <p>Carrinho</p>
                          </a>
                      </li>

                      <li>
                          <a href="
                            {% if (current_user.id != None and current_user.is_authenticated) %}
                            logout
                            {% else %}
                            login
                            {% endif %}" id="login-btn" target="_blank">
                              <p>{% if (current_user.id != None and current_user.is_authenticated) %}
                              Olá, {{ current_user.id }}!
                              {% else %}
                              Login
                              {% endif %}</p>
                          </a>
                      </li>
                  </div>
              </div>
          </ul>
      </nav>
  </header>
  {% endblock %}

  <!-- <main> -->
      {% block main %}

      {% endblock %}
  <!-- </main> -->

{% block footer %}
  <footer>
      <p>Site criado por :
          <br>
          Gabriel Vieira (Front-End)
          <br>
          Johann Herrero (Back-End)
      </p>
      <p>
          <br> Site criado para fins academicos. Toda e qualquer oferta disponivel aqui não passa de uma propaganda ficticia.</p>
  </footer>
{% endblock %}

  {% block section_estranha %}
  {% endblock %}

  {% block scripts %}
  <script src="static/scripts/global.js"></script>
  <script src="static/scripts/pesquisar.js"></script>
  {% endblock %}
</body>
</html>
