*{
    --largContainers: 1100px;
    --largSlide_Atual: 690px;
    --autSlide_Atual: 400px;
}

#exclusivosVoid{
    display: none;
}

.container_destaques{
    margin-top: 80px;
}

.destaques {
    position: initial;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: 0 auto 55px auto;
    width: var(--largContainers);
    height: 425px;
}


.slideatual{
    width: 690px;
    height: 400px;
    object-fit: cover;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.685);
    transition: 0.5s;
}

.slideatual img{
    width: 100%;
    height: 100%;
}

.destaques a{
    transition: 0.5s;
}

.slides{
    filter: blur(3px);
    width: 500px;
    height: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.685);
    transition: 0.5s;
}

.slides, .slideatual{
    margin: 10px;
    border: 3px solid white;
    object-fit: cover;
    transition: 0.5s;
}

#passaSlide{
    margin-left: 1560px;
}

#slideLeft, #slideRight{
    position: absolute;
    width: 40px;
    padding: 10px 15px;
    background-color: white;
    border: none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.466);
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    opacity: 1;
}

#slideLeft:hover, #slideRight:hover{
    color: white;
    background-color: #007bff;

}
#slideRight{
    border-radius: 20px 0px 0px 20px;
    transform:translateX(calc(var(--largSlide_Atual) / 2 - 20px));
}
#slideLeft{
    border-radius: 0px 20px 20px 0px;
    transform:translateX(calc(var(--largSlide_Atual) * -0.5 + 20px));
}

#slider_input{
    display: flex;
    position: absolute;
    margin: 0 auto;
    align-items: flex-end;
    transform: translateY(calc(var(--autSlide_Atual) / 2 - 38px));
    width: 600px;
    justify-content: space-evenly;
    transition: 0.5s;
}

.slide_selector_checked{
    background-color: rgb(255, 255, 255) !important;
    border: 2px solid #0084ff !important;
    transition: 0.5s;
    height: 28px !important;
    width: 28px !important;
    margin-bottom: 5px;
}

.slide_selector, .slide_selector_checked{
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.301);
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
    transition: 0.5s;
}

.slide_selector:hover{
    background-color: #0084ff;
    transition: 0.5s;

}


.titulo{
    margin: 0px 80px 30px 80px;
}

.container_produtos{
    display: flex;
    margin: 20px auto;
    color: black;
    display: flex;
    height: 340px;
    width: var(--largContainers);
    overflow-x: scroll;
}

.container_produtos::-webkit-scrollbar{
    display: none;
}

.produto{
    display: flex;
    scroll-snap-align: start;
    flex-shrink: 0;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 230px;
    border: 3px solid white;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 0px 10px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.575);
}

.nome-produto{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 10px 0px;
    font-size: 22px;
    font-weight: 500;
}

.resumo{
    display: none;
}

.produto:hover .resumo{
    display: -webkit-box;
    overflow: hidden;
    height: 60px;
    width: 200px;
    font-size: 14px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.img_produto{
    object-fit: contain;
    user-select: none;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    transition: 0.5s;
}

.preco{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    margin: 5px 0px;
    transition: 0.5s;
}

.preco::before{
    content: "R$ ";
}

.produto:hover .img_produto{
    height: 180px;
    width: 180px;
}
.produto:hover{
    height: 340px;
    border: 3px solid rgba(15, 87, 145, 0.678);
}
.produto:hover .preco{
    display: block;
    font-size: 20px;
}
.exclusivos_Xbox .preco{
    color: green;
}
.exclusivos_Xbox:hover{
    border: 3px solid green !important;
    border-radius: 5px !important;
}

.exclusivos_Ps:first-child{
    display: none;
}

.exclusivos_Ps .preco{
    color: #007bff;
}
.exclusivos_Ps:hover{
    border: 3px solid #007bff !important;
    border-radius: 5px !important;
}

.nin_Product:hover{
    border: 3px solid rgb(252, 0, 0) !important;
    border-radius: 5px !important;
}
