*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #353535 !important;
}

.caixa_login h1{
    font-size: 40px !important;
    margin-bottom: 20px;
}

.caixa_login{
    color: #001b64;
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: #d1d1d1;
    border-radius: 20px;
    box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.356);
}

input{
    border: 1px solid transparent;
    margin: 5px 0px;
    height: 25px;
    width: 80%;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    
}

input:nth-last-child(2){
    margin-bottom: 20px;
}

button{
    margin-top: 20px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 12px;
    font-weight: 600;
    line-height: 15px;
    margin: 5px 0;
    background-color: #002794;
    color: rgb(255, 255, 255);
    
}

button:focus{
    background-color: rgb(255, 255, 255);
    color: #002794;
}