@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

body{
    background-color: #1d1d1d;
    background-image: radial-gradient(circle at center, #00a2ff18, rgba(255, 255, 255, 0)),
                      radial-gradient(circle at bottom left, rgba(255, 0, 0, 0.048), rgba(255, 255, 255, 0) 40%),
                      radial-gradient(circle at top right, rgba(255, 0, 0, 0.055), rgba(255, 255, 255, 0) 40%),
                      radial-gradient(circle at bottom right, rgba(13, 3, 59, 0.103), rgba(255, 255, 255, 0)),
                      radial-gradient(circle at top left, rgba(3, 9, 59, 0.11), rgba(255, 255, 255, 0));
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: black;
}

#menu_g-place{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

#menu_g-place ul{
    color: white;
    display: flex;
    height: 60px;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #192635;
    padding: 1vw 2vw;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}

#logo{
    margin-top: 9px;
    width: 20vw;
    max-width: 140px;
    min-width: 80px;
}
.container-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: 0 1.2vw;
}

#barra_pesquisa{
    width: 100%;
    background-color: white;
    height: 27px;
    border: none;
    border-radius: 30px 0px 0px 30px;
    padding: 10px;
    outline: none;
}


#barra_pesquisa_confirm{
    background-color: rgb(104, 104, 104);
    color: white;
    height: 27px;
    border: 1px solid transparent;
    margin: 0;
    border-radius: 0px 30px 30px 0px;
    padding: 2px;
    width: 35px;
    cursor: pointer;
}

#barra_pesquisa_confirm img{
    width: 18px;
}

.btns{
    display: flex;
}

#btn-barra-pesquisa{
    display: none;
    cursor: pointer;
    max-width: 35px;
    width: 6vw;
}

#login-btn, #car-btn{
    display: flex;
    align-items: center;
    height: 60px;

}

#login-btn , #car-btn{
    margin: 0px 5px;
    color: white;
    text-decoration: none;
    width: auto;
    padding: 1vw;
    transition: 0.5s;
    font-size: 16px;
}

#login-btn p, #car-btn p{
    margin: 0 10px;
}

#cart-icon{
    width: 30px;
}

.menu-icon{
    display: none;
    height: 60px;
}

#menu-icon-svg{
    width: 25px;

}

.search-login-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#login-btn:hover, #car-btn:hover{
    background-color: #007bff;
}

main{
    min-height: 800px;
    margin-top: 70px;
    color: rgb(255, 255, 255);
}

.titulo{
    font-weight: 600;
    font-size: 30px;
}

.error{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 35px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.295);
    

}

footer{
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
    padding: 30px;
    text-align: center;
}

@media (max-width: 1024px) {
    #car-btn p{
        display: none;
    }

    #cart-icon{
        display: inline;
    }

    #car-btn{
        width: 7vw;
        min-width: 55px;
        justify-content: center;
    }

    .btns{
        margin-left: 20px;
    }


    
}

@media (max-width: 768px) {

    #login-btn{
        display: flex;
    }

    #car-btn p{
        display: block;
    }

    .search-login-cart{
        width: auto;
        justify-content: center;
    }

    #logo{
        max-width: 100px;
    }

    .btns{
        display: none;
        opacity: 0;
        top: 60px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding: 5px 0px;
        background-color: rgba(0, 0, 0, 0.692);
        width: 100vw;
        left: 0;
        margin: 0 auto;
        transition: 0.3s;

    }

    .btns li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: rgb(34, 34, 34);
        margin-top: 5px;
    }

    #login-btn, #car-btn{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }
    
    .container-input{
        width: 60vw;
    }

    #cart-btn{
        display: none;
    }

    .menu-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7vw;
        min-width: 55px;
    }
}