<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação de email</title>
    <!-- <link rel="shortcut icon" href="static/sources/images/global/g-place.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="static/styles/login.css">
    <link rel="stylesheet" href="static/styles/global.css">
</head>
<body>

  <!-- <form action="/cadastro" method="post"> -->
    <div class="caixa_login">
        <h1 class="sub-titulo">Verificação de Email</h1>
        <h2 class="sub-título"> Insira o código abaixo no site para validação da senha </h2>
        <strong id="código">{{verify_code}}</strong>
        <!-- <button type="submit" id="prosseguir" name="verify_code" value = "verify_code">Verificar email</button> -->
    </div>
    <!-- </form> -->
</body>
</html>
