<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/styles/home.css">
    <link rel="stylesheet" href="static/styles/global.css">
    <link rel="shortcut icon" href="static/sources/images/global/g-place.ico" type="image/x-icon">
</head>
<body>
<!-- Teste - Código Jinja para exibição de status do login -->
  <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <div colour="green" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %} -->

  <header>
      <nav id="menu_g-place">
          <ul>
              <li><a href="/"><img src="static/sources/images/global/g_place-logo.png" alt="Gamers_Place-logo" draggable="false" id="logo"></a></li>
              <li><input type="text" class="campo" id="barra_pesquisa" oninput="autoComplete()"><button id="barra_pesquisa_confirm">P</button></li>
              <div class="btns">
                    <li><a href="" id="car-btn">Carrinho</a></li>
                    <!-- Código Jinja para mostrar o usuário logado -->
                    <!-- <li><a>
                      {% if current_user.is_authenticated %}
                      Olá, {{ current_user.id }}!
                      {% else %}
                      Olá, Visitante!
                      {% endif %}</a></li> -->
                      <li><a href="
                        {% if (current_user.id != None and current_user.is_authenticated) %}
                        logout
                        {% else %}
                        login
                        {% endif %}" id="login-btn" target="_blank">
                      {% if (current_user.id != None and current_user.is_authenticated) %}
                      Olá, {{ current_user.id }}!
                      {% else %}
                      Login
                      {% endif %}</a></li>
                    </div>
                </ul>
            </nav>
        </header>
        <main>
            <section class="container_destaques">
                <p class="sub-titulo">Destaques</p>
                <div>
                    <div class="destaques">
                        <img src="static/sources/images/home/des001.jpg" alt="01" name="img01" draggable="false" class="slideatual" id="passaSlide">
                        <img src="static/sources/images/home/des002.jpg" alt="02" name="img02" draggable="false" class="slides">
                        <img src="static/sources/images/home/des003.jpg" alt="03" name="img03" draggable="false" class="slides">
                        <img src="static/sources/images/home/des004.jpg" alt="04" name="img04" draggable="false" class="slides">
                        <div id="sliders">
                            <button id="slideLeft"> L </button>
                            <button id="slideRight"> R </button>
                        </div>
                        <div id="slider_input">
                            <span class="slide_selector_checked" id="radio1"></span>
                            <span class="slide_selector" id="radio2"></span>
                            <span class="slide_selector" id="radio3"></span>
                            <span class="slide_selector" id="radio4"></span>
                        </div>
                    </div>

                </div>
            </section>
            <section>
                <div class="categoria1">
                    <p class="sub-titulo">Consoles</p>
                    <div class="container_fotos_categoria1">
                        <div class="foto_cat1">
                            <img src="static/sources/images/home/con001.png" alt="Ps5" class="img_cat1">
                            <p class="sub-titulo">PlayStation 5</p>
                            <p class="resumo">Maravilhe-se com os gráficos incríveis e experimente os recursos do novo PS5.
                            </p>
                            <p class="preco">4500.00</p>
                        </div>
                        <div class="foto_cat1">
                            <img src="static/sources/images/home/con002.webp" alt="Nintendo Switch" class="img_cat1">
                            <p class="sub-titulo"> Nintendo Switch</p>
                            <p class="resumo">O Nintendo Switch foi desenvolvido para fazer parte da sua vida, transformando-se de um console doméstico em um console portátil num piscar de olhos.</p>
                            <p class="preco">3000.00</p>
                        </div>
                        <div class="foto_cat1">
                            <img src="static/sources/images/home/con003.jpg" alt="Xbox Serie X" class="img_cat1">
                            <p class="sub-titulo">Xbox Serie X</p>
                            <p class="resumo">Os 12 teraflops de poder de processamento alojados no sistema em um chip (SOC) funcionam com as arquiteturas Zen 2 e RDNA 2 da AMD para resultar em mundos que exigem um olhar mais atento.</p>
                            <p class="preco">4200.00</p>
                        </div>
                        <div class="foto_cat1">
                            <img src="static/sources/images/home/con004.webp" alt="Ps4" class="img_cat1">
                            <p class="sub-titulo">PlayStation 4</p>
                            <p class="resumo">Faça do seu jeito no Victory Royale, ganhe a Série Mundial e lidere seu esquadrão dentro da batalha. Com alguns dos maiores e melhores jogos disponíveis, para PS4 e milhões de jogadores ao redor do mundo, todos aqui estão esperando por você.</p>
                            <p class="preco">2500.00</p>
                        </div>
                        <div class="foto_cat1">
                            <img src="static/sources/images/home/con001.png" alt="Ps5" class="img_cat1">
                            <p class="sub-titulo">PlayStation 5</p>
                            <p class="resumo">Maravilhe-se com os gráficos incríveis e experimente os recursos do novo PS5.
                            </p>
                            <p class="preco">4500.00</p>
                        </div>
                        <!--
                        <div class="teste">
                            <button><a href="#teste">teste</a></button>
                        </div>-->
                    </div>
                </div>
            </section>
            <section id="excluvivos_Ps">
                <div class="categoria1">
                    <p class="sub-titulo">Exclusivos PlayStation</p>
                    <div class="container_fotos_categoria1">
                        <div class="foto_cat1 ps_Product">
                            <img src="static/sources/images/home/jog005.jpg" alt="Forza Horizon 4" class="img_cat1">
                            <p class="sub-titulo">Gran Turismo 7</p>
                            <p class="resumo">A clássica franquia de corrida da Sony ganhou mais um jogo em 2022. Gran Turismo 7 vai além de, simplesmente, disputar corridas: é um título que busca celebrar a cultura automobilística. Exemplos disso são a presença do circuito de Interlagos, em São Paulo (SP) e do piloto Lewis Hamilton, carinhosamente apelidado como "maestro" do game.
                            </p>
                            <p class="preco">350.00</p>
                        </div>
                        <div class="foto_cat1 ps_Product">
                            <img src="static/sources/images/home/jog006.jpg" alt="Nintendo Switch" class="img_cat1">
                            <p class="sub-titulo">Ghost of Tsushima</p>
                            <p class="resumo">
                                Como um bom samurai, Ghost of Tsushima chega para anunciar sua posição nesta lista. O game é o exclusivo que vai fechar a geração e, como tal, tende a explorar o máximo do que o console consegue entregar. De fato, a narrativa de Jin Sakai pelo vasto mundo de Tsushima impressiona pela beleza e por aproveitar de mecânicas de exploração de mundo aberto apresentadas em The Legend of Zelda: Breath of The Wild.
                            </p>
                            <p class="preco">320.00</p>
                        </div>
                        <div class="foto_cat1 ps_Product">
                            <img src="static/sources/images/home/jog007.webp" alt="Xbox Serie X" class="img_cat1">
                            <p class="sub-titulo">Uncharted 4</p>
                            <p class="resumo">
                                A saga de Nathan Drake é, certamente, uma das mais icônicas dos games. O quarto título da série coloca o protagonista em conflito com sua esposa, para ajudar o irmão fugitivo e seguir novamente atrás de relíquias escondidas no melhor estilo Indiana Jones. Contudo, por não trazer tanta inovação assim e manter o sistema linear de fases, o game não foi tão bem recebido como os anteriores. Ainda assim, é uma excelente pedida para os jogadores de PlayStation 4.
                            </p>
                            <p class="preco">220.00</p>
                        </div>
                        <div class="foto_cat1 ps_Product">
                            <img src="static/sources/images/home/jog008.jpg" alt="Ps4" class="img_cat1">
                            <p class="sub-titulo">Final Fantasy 7 Remake</p>
                            <p class="resumo">
                                Um leitor mais desavisado pode questionar: “valem remakes?”. Pois bem, no caso de Final Fantasy 7 Remake, esta regra pode ser quebrada, pois, simplesmente, o jogo não é só uma recriação do clássico. Quem jogou até o fim, sabe que estamos falando de algo completamente diferente.
                            </p>
                            <p class="preco">300.00</p>
                        </div>
                        <div class="foto_cat1 ps_Product">
                            <img src="static/sources/images/home/jog005.jpg" alt="Forza Horizon 4" class="img_cat1">
                            <p class="sub-titulo">Gran Turismo 7</p>
                            <p class="resumo">A clássica franquia de corrida da Sony ganhou mais um jogo em 2022. Gran Turismo 7 vai além de, simplesmente, disputar corridas: é um título que busca celebrar a cultura automobilística. Exemplos disso são a presença do circuito de Interlagos, em São Paulo (SP) e do piloto Lewis Hamilton, carinhosamente apelidado como "maestro" do game.
                            </p>
                            <p class="preco">350.00</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="exclusivos_Xbox">
                <div class="categoria1">
                    <p class="sub-titulo">Exclusivos Xbox</p>
                    <div class="container_fotos_categoria1">
                        <div class="foto_cat1 xbox_Product">
                            <img src="static/sources/images/home/jog001.jpg" alt="Forza Horizon 4" class="img_cat1">
                            <p class="sub-titulo">Forza Horizon 4</p>
                            <p class="resumo">Um dos melhores games de corrida de carros já feito. O mundo aberto de Forza Horizon 4 é sincronizado e compartilhado, são até 72 jogadores dividindo o mesmo servidor. Mas também é possível jogar no modo offline.
                            </p>
                            <p class="preco">250.00</p>
                        </div>
                        <div class="foto_cat1 xbox_Product">
                            <img src="static/sources/images/home/jog002.webp" alt="Nintendo Switch" class="img_cat1">
                            <p class="sub-titulo">Killer Instinct</p>
                            <p class="resumo">
                                Iniciam-se os combos, é dada sequência na pancadaria e, por fim, executam-se os movimentos finalizadores. Os Ultra Combos, que são movimentos especiais usados apenas para finalizar uma partida com vitória. Tudo que é encontrado nos jogos atuais de luta, não dá pra perder.
                            </p>
                            <p class="preco">150.00</p>
                        </div>
                        <div class="foto_cat1 xbox_Product">
                            <img src="static/sources/images/home/jog003.webp" alt="Xbox Serie X" class="img_cat1">
                            <p class="sub-titulo">Halo 5: Guardians</p>
                            <p class="resumo">
                                O velho e conhecido Masterchief. Para os fãs do Xbox, esse personagem é o mais significativo de todo o universo Microsoft. Apesar de não ser tão acionado como em títulos anteriores, o game é impecável.
                            </p>
                            <p class="preco">220.00</p>
                        </div>
                        <div class="foto_cat1 xbox_Product">
                            <img src="static/sources/images/home/jog004.jpg" alt="Ps4" class="img_cat1">
                            <p class="sub-titulo">Gears 5</p>
                            <p class="resumo">
                                Mais do que um shooter contra alienígenas, hoje o game possui um mundo cujo enredo pode ser expansivo, inclusive, para outras mídias. Lidar com fatos do passado na história que teve inícios em Gears 4 é o ponto alto do game. Para os fãs de jogos táticos a série oferece o Gears Tactics, bem próximo do XCOM 2.
                            </p>
                            <p class="preco">300.00</p>
                        </div>
                        <div class="container_fotos_categoria1">
                            <div class="foto_cat1 xbox_Product">
                                <img src="static/sources/images/home/jog001.jpg" alt="Forza Horizon 4" class="img_cat1">
                                <p class="sub-titulo">Forza Horizon 4</p>
                                <p class="resumo">Um dos melhores games de corrida de carros já feito. O mundo aberto de Forza Horizon 4 é sincronizado e compartilhado, são até 72 jogadores dividindo o mesmo servidor. Mas também é possível jogar no modo offline.
                                </p>
                                <p class="preco">250.00</p>
                            </div>
                    </div>
                </div>
            </section>
            <aside></aside>
        </main>
        <footer>
            <p>Site criado por :
                <br>
                Gabriel Vieira (Front-End)
                <br>
                Johann Herrero (Back-End)
            </p>
            <p>
                <br> Site criado para fins academicos. Toda e qualquer oferta disponivel aqui não passa de uma propaganda ficticia.</p>
        </footer>
        <script src="static/scripts/home.js"></script>
    </body>
    </html>
