{% extends "navbar.html" %}

    {% block head %}
    {{ super() }}
    <title>Carrinho</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/carrinho.css') }}">
    {% endblock %}

<body>

      <!-- Herança do popup de status  -->
      {% block popup %}
      {{ super() }}
      {% endblock %}

      <!-- Herança da navbar -->
      {% block header %}
      {{ super() }}
      <!-- Herança do botão do carrinho (tá bugado, então vai herdar junto com o block header)-->
      {% endblock %}

      {% block main %}
      <p class="error">Ops, ainda não há nenhum produto aqui :)
      </p>
      {% endblock %}

      <!-- Herança de informações de rodapé -->
      {% block footer %}
      {{ super() }}
      {% endblock %}


      <!-- Herança de scripts - global e pesquisar  -->
      {% block scripts %}
      {{ super() }}
      <script src="{{ url_for('static',filename='scripts/produtos.js') }}"></script>
      <script src="{{ url_for('static',filename='scripts/carrinho.js') }}"></script>
      {% endblock %}

</body>
</html>
