<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar email</title>
    <link rel="shortcut icon" href="static/sources/images/global/g-place.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/styles/login.css">
    <link rel="stylesheet" href="static/styles/global.css">
</head>
<body>

  <form action="/cadastro" method="post">
    <div class="caixa_login">
      <!-- popup de status -->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
            <div style="
            /* estilo de teste */
            /* ver de inserir no global.css */
            color: white;
            padding: 5px 7px 5px 7px;
            margin-top: -10px;
            margin-bottom: 10px;
            background-color: #2196ff;
            border-radius: 5px;
            box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.356);">
              {{ message }}
            </div>
            {% endfor %}
            </ul>
        {% endif %}
      {% endwith %}
        <h1 class="sub-titulo">Verificar Email</h1>
        <input type="text" name="email_code" id="email_code" maxlength="4"
        size="4" placeholder="Digite o código enviado ao seu E-mail">
        <!-- <input type="number" name="email_code1" maxlength="1" size="1" id="email_code1">
        <input type="number" name="email_code2" maxlength="1" size="1" id="email_code2">
        <input type="number" name="email_code3" maxlength="1" size="1" id="email_code3">
        <input type="number" name="email_code4" maxlength="1" size="1" id="email_code4"> -->
        <button type="submit" id="prosseguir" name="verify_code" value = "verify_code">Verificar código</button>
    </div>
    </form>
    <!-- <script src="../scripts/login.js"></script> -->
</body>
</html>
