<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro! - {{status_code}}</title>
    <!-- Usar o url_for() resolve o problema do css da página de erro não
         carregar quando a url acessada "herdava"  de algo além da página
         principal. exemplo: -->
    <!-- localhost/loguin -> página de erro carregava com o css -->
    <!-- localhost/loguin/ -> página de erro carregava só com o html básico -->
    <!-- localhost/login/123 -> página de erro carregava só com o html básico -->
    <!-- para testar o efeito acima, substituir as linhas de stylesheet abaixo: -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/error.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='sources/images/global/g-place.ico') }}" type="image/x-icon">
    <!-- pelas linhas de stylesheet abaixo: -->
     <!-- <link rel="stylesheet" href="static/styles/global.css"> -->
     <!-- <link rel="stylesheet" href="static/styles/error.css"> -->

</head>

    <body>

          <div class="caixa_login">
            <h1 style="text-align: center;">{{complete_status}}</h1>
            <h2> Alguém desconectou os controles :( </h2>
            <br>
            <h3>O erro possivelmente ocorreu pois:</h3>
            <h3> <li>{{detalhamento}}</li> </h3>
            <br>
            <h4 style="padding: 4px">Para retornar à pagina inicial do fórum <a href="/forum" >clique aqui</a></h4>

          </div>

    </body>
    </html>
