{% extends "navbar.html" %}

    <!-- Herança da tag head - Incluso css global e imagem da logo  -->
    {% block head %}
    {{ super() }}
    <title>{{thread}}</title>
    {% endblock %}

<body>

    <!-- Herança do popup de status  -->
    {% block popup %}
    {{ super() }}
    {% endblock %}

    <!-- Herança da navbar -->
    {% block header %}
    {{ super() }}
    <!-- Herança do botão do carrinho (tá bugado, então vai herdar junto com o block header)-->

    {% endblock %}

  {% block main %}
  <!-- Formatar o html e o css bonitinho -->
  <!-- Título e dados da thread -->
  <span style="color: green;">
      <h1>Title {{comments[num_thread]['Thread_OP']['Thread.title']}}</h1>
      <br>
      <h2>User {{comments[num_thread]['Thread_OP']['Thread.OP_user']}}</h2>
      <h3>Descricao {{comments[num_thread]['Thread_OP']['Thread.description']}}<h3>
      <br>
  </span>



   {% if comments[num_thread]['Thread_comments'] != {} %}

     {% for comment in comments[num_thread]['Thread_comments'] %}
       <div style="color:yellow;">
        <h3>Comentário:</h3>
        <h2> {{comments[num_thread]['Thread_comments'][comment]['Thread.user']}}</h2>
        <h2> {{comments[num_thread]['Thread_comments'][comment]['Thread.description']}}<h2>
       </div>
     <br>
     {% endfor %}
   {% else %}
   <div style="color:yellow;">
     <h2>Não há comentários nessa thread ainda. Seja o primeiro!</h2>
   </div>

   {% endif %}

   <form action="/forum/{{num_thread}}/{{thread}}" method="post">
     <textarea name="comentario" rows="8" cols="80" placeholder="Insira o comentário"></textarea>
     <button style="
     color:white;
     background-color: #2196ff;
     padding: 10px 10px 10px 10px;
     background-color: #219600;
     border-radius: 5px;
     box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.356);"
     type="submit" id="comentar" name="comentar" value="comentar">Comentar</button>
   </form>

     {% if current_user.id == comments[num_thread]['Thread_OP']['Thread.OP_user'] %}
     <form action="/forum/{{num_thread}}/{{thread}}" method="post">
     <!-- Para fechar a thread -->
     {% if comments[num_thread]['Thread_OP']['Thread.status'] == 'Aberto' %}
           <button style="
           color:white;
           padding: 10px 10px 10px 10px;
           background-color: #ff0500;
           border-radius: 5px;
           box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.356);"
           type="submit" id="fechar_thread" name="fechar_thread" value="Fechado">
           Fechar thread</button>

      <!-- Para abrir a thread -->
      {% else %}
          <button style="
          color:white;
          padding: 10px 10px 10px 10px;
          background-color: #219600;
          border-radius: 5px;
          box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.356);"
          type="submit" id="fechar_thread" name="fechar_thread" value="Aberto">
          Abrir thread</button>
      {% endif%}

     <button style="
     color:white;
     padding: 10px 10px 10px 10px;
     background-color: #ff0500;
     border-radius: 5px;
     box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.356);"
     type="button" id="excluir_thread" name="excluir_thread", value="excluir_thread">Excluir Thread(Não implementado)</button>
     </form>
     {% endif %}
  {% endblock %}

  <!-- Herança de informações de rodapé -->
  {% block footer %}
  {{ super() }}
  {% endblock %}

  <!-- Herança de scripts - global e pesquisar  -->
  {% block scripts %}
  {{ super() }}
  {% endblock %}

</body>
</html>
